.nav-bar{
    width:100%;
    margin: auto;
    background-color: #343A40;
    display: flex;
    align-items: center;
    gap:20px;
    padding: 1rem;
}

.link{
    text-decoration: none;
    color:white;
}

.link.active{
    color:blue;
}

#sec-to-last{
    flex: 1;
}

#last{
    cursor: pointer;
}

#last.active{
    color: white;
}